@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<p>If you have any questions, feel free to reach out:</p>
<ul>
    <li>Email: tejashiva28@gmail.com</li>
    <li>Phone: +1-484-981-0065</li>
</ul>
